<%- include('../../shared/includes/head', { pageTitle: 'Your Cart' }) %>
<link rel="stylesheet" href="/style/cart.css">
<script src="/scripts/cart-item-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Cart</h1>
    <ul id="cart-items">
      <% for (const cartItem of locals.cart.items) { %>
        <li>
          <%- include('includes/cart-item', { item: cartItem }) %>
        </li>
      <% } %>
    </ul>
    <div id="cart-total">
      <p>Total: $<span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>

      <% if (locals.isAuth) { %>
        <!-- <form action="/orders" method="POST"> -->
          <!-- <input type="hidden" name="_csrf" value="<%=// locals.csrfToken %>"> -->
          <button id="buy-now" class="btn">Buy Products</button>
        <!-- </form> -->
      <% } else { %>
        <p id="cart-total-fallback">Log in to proceed and purchase the items.</p>
      <% } %>
    </div>
  </main>
 



</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script  >
//     const response =  fetch("/create/orderId", {
//   method: "post",
//   headers: { "Content-Type": "application/json" },
//   body: JSON.stringify(order),
// });

// read the body of the response
// const data =  response.json();
// console.log(data)
    console.log(document.getElementById('buy-now'))
    
    var options = {
    "key": "rzp_test_AxiaXHQb05Fz5k", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "order_LLXp6RYqRTuvss", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('buy-now').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
let settings = {
    "url": "/api/payment/verify",
    "method": "POST",
    "timeout": 0,
    "headers": {
      "Content-Type": "application/json"
    },
    "data": JSON.stringify(),
  }



    


</script>

<%- include('../../shared/includes/footer') %>